[2018-03-19 21:56] lacymorrow opened #4 "Windows/Linux Build"
Stubbing this in as I would call it a "worth it" feature.

Cross-os builds can be done using Virtualbox and a free VM from [Microsoft](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/), or even using Appveyor/Travis CI.

[2018-03-20 00:18] gonzalologorg commented on #4
I've built a windows copy, [it looks like this](https://i.imgur.com/tdnG7rC.png), not sure if i can put the link here, but you can email me at gonzalolog@gmail.com
Seems like the main feature that are components is not functional, also there are few issues with UI and transparency (I guess), not sure if i'll try to fix those issues since i have no much idea about ionic, just tried to build it

[2018-03-20 00:22] simonhochrein commented on #4
I will see what I can do about this, thanks for the screenshot!

[2018-03-20 01:29] faceyspacey opened #5 "Very appealing"
The experience just feels right. Good work! Keep it up.

[2018-03-20 01:44] eveningkid commented on #4
Great input @gonzalologorg. The components are functional but on macOS version, it is using dark vibrancy as its background, with turns out not to work on windows (I don't know about linux).

It would be simple to fix it by adding a platform specific css file. Replacing it with a light black `background-color: rgba(0, 0, 0, 0.1)`. If you have any ideas, please let me know.

We could easily ship th

[2018-03-20 02:05] joshuaquek commented on #5
This is an amazing project!

[2018-03-20 02:41] joshuaquek commented on #5
btw how does the Component Previewing work? At the moment its blank for me whenever I try to preview a component

[2018-03-20 02:49] joshuaquek opened #6 "Awesome Project!"
Quite solid, for an IDE developed by a single person. Keep up the good work man. Looking forward to more updates!!

[2018-03-20 07:54] plxel commented on #4
Windows 10 screenshots:
![image](https://user-images.githubusercontent.com/1496959/37641926-7d00447e-2c2c-11e8-8f53-17e04ea31263.png)
![image](https://user-images.githubusercontent.com/1496959/37642012-bb5106f0-2c2c-11e8-8cea-b2df0dace101.png)
![image](https://user-images.githubusercontent.com/1496959/37642032-cac4d13e-2c2c-11e8-8ef5-fbbc7bc0d123.png)
![image](https://user-images.githubusercontent

[2018-03-20 08:54] eveningkid commented on #4
I was checking the documentation just now and there is something we can try very quickly.

If the current platform is windows, try to set the `mainWindow.backgroundColor` property, inside `src/public/index.js`.

[Browser Window background color](https://electronjs.org/docs/api/browser-window#setting-backgroundcolor)

If it doesn't work, then we'll simply create a css file that only applies to wind

[2018-03-20 08:59] plxel commented on #4
I usually use react-custom-scrollbars for mac-os style scrolls

[2018-03-20 09:56] eveningkid commented on #4
@plxel The problem is that scrollbars are nested inside codemirror. If we want to edit it, we will probably do it using the [simple-scrollbars addon](https://codemirror.net/demo/simplescrollbars.html), or create a similar code and style it the way we want.

However, this should be discussed into another issue. We should keep this one only for the necessary steps of making this software **usable**

[2018-03-20 10:01] eveningkid commented on #5
Thanks a lot guys, this is just a beginning. We'll certainly make it way better over time. For now, it is mostly just a draft. :)

@joshuaquek the component preview is something I'll focus my effort on for the next update. It is not indicated but the first time you'll try to preview something, it'll take some time to install required modules to compile your code. So far, it doesn't indicate it any

[2018-03-20 10:02] eveningkid commented on #6
Thanks again, your support is really meaningful to me and anyone who wants to contribute.
Hope to take this project further all together. :)

[2018-03-20 10:04] plxel commented on #4
Yeap. I think it would be great to create a separate issue for each problem, so anyone who can fix it - will take this issue to work and create PR to the issue

[2018-03-20 10:30] eveningkid opened #8 "Vibrancy missing on non-macOS devices"
I just added a default background that should fix the vibrancy issue on non-macOS devices (c6ba0790aba9923e543eb3feb57fff8063d75bea).

Could anyone try to `git pull`, run the app with `yarn start` and `yarn run electron`, and give me some feedback? That would really help to quickly make the windows/linux versions available.

Thanks!

cc @plxel, @gonzalologorg

[2018-03-20 10:58] plxel commented on #8
windows 10
![image](https://user-images.githubusercontent.com/1496959/37650729-cf34aed2-2c46-11e8-9353-90524d5edf7e.png)

[2018-03-20 11:05] plxel opened #9 "BROWSER not recognized as an internal or external command"
Running start script `BROWSER=none yarn start:all` throws error message `BROWSER not recognized as an internal or external command`.

OS: Windows 10

as i understand BROWSER is env variable, on windows I usually use cross-env package for handling env variables

relates to https://github.com/eveningkid/reacto/issues/4

[2018-03-20 11:08] eveningkid commented on #8
@plxel great, is any other previously blank surface now okay? :)

[2018-03-20 11:11] eveningkid commented on #9
Thanks for letting me know. I will look into it and create a PR. :)
I'll update the issue when it's done.

[2018-03-20 11:13] plxel commented on #9
@eveningkid  i think it will be good practice to assign somebody to issue so if anyone see it - will know that this issue in progress and who is working on it

[2018-03-20 11:19] eveningkid commented on #9
You're right, I'll keep it in mind from now on. Thank you!
Bug fixed with 9c2a275ec0e1b32f0dc3b6a776802206e8e59e73.

[2018-03-20 11:19] #9 closed

[2018-03-20 11:27] plxel commented on #8
@eveningkid
i didn't find any other, checked only on windows

[2018-03-20 11:30] eveningkid commented on #8
Is the list of bricks more readable now? It used to be all white.

I'm talking about this section:

<img width="408" alt="screenshot at mar 20 19-28-41" src="https://user-images.githubusercontent.com/7188494/37651977-e96b4094-2c74-11e8-9707-69d8162fcfb1.png">

If so, that means it's all good to be packaged for windows. So we could focus on optimisation.

[2018-03-20 11:33] plxel commented on #8
![image](https://user-images.githubusercontent.com/1496959/37652120-84e5ec74-2c4b-11e8-9d54-f5049b0540da.png)

items under red arrow - are not clickable using mouse, only using keyboard keys

[2018-03-20 11:34] simonhochrein commented on #8
#3

[2018-03-20 11:35] plxel commented on #8
@simonhochrein oh, ok
@eveningkid as you can see gray colors are differ from yours

[2018-03-20 11:36] eveningkid commented on #8
Great, the background color works well.

It's kind of dark because the currently opened file isn't a "javascript" file. If you try with a .js, .jsx file, it should look fine. Please let me know so I can close this issue.

The search suggestions elements will soon be clickable with PR #3.

[2018-03-20 11:38] plxel commented on #8
@eveningkid right
it's not very good UX) but fine for now i think

[2018-03-20 11:42] eveningkid commented on #8
At first, I wanted to hide it when it couldn't be used but I thought changing the opacity was a better idea.
We'll need to think of a better way indeed, I didn't think this was an issue.

Thanks for the input, this issue is solved then. :)

[2018-03-20 11:42] #8 closed

[2018-03-20 12:48] picwellwisher12pk commented on #4
If you are using electron, should it not work on Windows already?

[2018-03-20 14:03] eveningkid commented on #4
@picwellwisher12pk it is. However, some little things that diverge from one platform to another have created a few issues so far. I would have loved to work on these two versions but I don't have any device to try it on without using a vm, which isn't so convenient. I thought that this could be an effort made by the community to make this tool available to everyone.

[2018-03-20 14:43] picwellwisher12pk commented on #4
I am not very pro, but tell me how can I help?

[2018-03-21 08:35] albemala opened #14 "Application cannot be closed using Cmd-Q on macOS"
I believe this is some kind of standard for macOS apps so it would be good to have it.

[2018-03-21 08:49] eveningkid commented on #14
Agreed. This was fixed with PR #1.

The current macOS package doesn't include this update. There will be a new release this week, bringing new features including this one.

Thank you for your patience, do not hesitate to share any other issue/idea you encounter. :)

[2018-03-21 08:49] #14 closed

[2018-03-21 08:52] albemala commented on #4
@eveningkid First of all, awesome idea and a great starting point!

I tried it on Linux (using a VM with Ubuntu 16.04), the app starts fine and the result is basically the same as on Windows (so visible scrollbars, no transparency, wrong menus...).

I tried to pack it as well, but it fails when looking for the icon since it looks for an icns file, which is for macOS only.

Here is the Electron Bui

[2018-03-21 09:14] albemala commented on #14
That's great, thank you! I'll wait for the new release then.

[2018-03-21 12:03] julianorafael opened #15 "React Native"
Does it work for React Native too?
I tried to open a current RN project and it didn't go well. What do you it would take to support React Native? I'm seriously interested in this.
Awesome stuff man, keep it up.

[2018-03-21 12:07] julianorafael opened #16 "Can't close it on MacOS"
Is it only me or Reacto does not closes on cmd + Q?

[2018-03-21 12:10] lachlanjc opened #17 "Prettier integration"
On save or a keyboard shortcut, with ability to customize options.

[2018-03-21 12:11] lachlanjc opened #18 "Indentation with"

[2018-03-21 12:12] lachlanjc opened #19 "Bring back task runner"
Easy buttons (option to hide them in settings?) for npm/Yarn start, run scripts, etc, for when you don’t need all your terminal’s capabilities.

[2018-03-21 12:33] julianorafael opened #20 "Open project from command line"

[2018-03-21 12:40] julianorafael opened #21 "Preview file before adding to opened files"

[2018-03-21 12:44] simonhochrein commented on #16
Are you using the prebuilt binary?

#1 fixes that.

Try building from source

[2018-03-21 12:49] julianorafael opened #22 "Project Roadmap"
Do you have a roadmap of features and ideas? Where do you think the project will head to?

[2018-03-21 12:50] julianorafael commented on #16
Awesome. I was using the prebuilt binary indeed. Building it from the source works.

[2018-03-21 12:50] #16 closed

[2018-03-21 12:51] simonhochrein commented on #16
Cool!

[2018-03-21 15:13] eveningkid commented on #15
I haven't tried any react native project with reacto. What do you mean "it didn't go well"? Any precise feedback? :)
I remember there is an editor called deco for react native development.
For now, the project is focused on regular react code but I have no doubts that it could be extended to react native.

Thanks for the kind words, I really appreciate it! Feel free if you have any other question.

[2018-03-21 15:19] eveningkid commented on #17
Totally agree on this. Something kind of similar to [atom-prettier](https://github.com/prettier/prettier-atom) right?

Regarding the options customization, do you have any precise idea? Should it be directly editable after opening the `.prettierrc`? Or maybe a UI on top of the file (giving suggestions or a list of options)?

So far we agree on these two requirements:
- option: call prettier on "on

[2018-03-21 15:22] eveningkid commented on #19
Anyone else willing a task runner? Any other idea or opinion?

I think it's a good idea. Also, If anyone else has other ideas, please let me know so I can improve it before its release. :)

[2018-03-21 15:23] eveningkid commented on #20
I truly have no idea how to do this. Do you have any leads?
Also, is this necessary at the moment?

[2018-03-21 15:24] eveningkid commented on #21
Totally agree on that. Something similar to what can be seen in Atom, right?

[2018-03-21 15:26] eveningkid commented on #22
I will share a roadmap very soon. I mean to iterate quickly, creating new releases quite often so anyone can quickly give some feedback and suggestions to make it better and right.

I hope this project could be the starting point for anyone looking for a good tool to create react apps. This is the end goal. :)

Stay tuned for the roadmap, I'll soon come up with it. Thanks for asking!

[2018-03-21 15:26] #22 closed

[2018-03-21 15:59] lachlanjc commented on #17
@eveningkid One or the other works for me, I'd prioritize on save, with keyboard shortcut later. I think the MVP for options would be a `.prettierrc` in the user folder, or in some kind of Reacto folder, with a checkbox/select menu UI in Settings later.

[2018-03-21 17:52] vueu opened #23 "Prettier"
Hey, I'm currently gonna start working on implementing Prettier into this project.

First let's think about the options we'd like to include.

Here's my ideas so far
- Prefer single quotes
- Trailing comma

[2018-03-21 18:09] eveningkid commented on #23
Wait, I think I totally misunderstood, I'm so sorry!
I thought you were talking about the prettier integration. I reopen the issue.

[2018-03-21 18:10] eveningkid commented on #17
Yes, good idea. I definitely would love having the options inside the "Settings" section and quickly update them + another option to enable/disable prettier.
Alright, I think I have all I need to get started this week. Thanks :)

[2018-03-21 18:11] vueu commented on #23
😂 No worries!

[2018-03-21 18:18] eveningkid opened #24 "Overall Performance"
Reacto is slow when dealing with big files. I believe the current pain points lay inside `Editor.jsx`:
- expensive `this.props.updateCode` which slow everything down as it is updating the redux store with a massive new value, many times in a row (despite it is actually `debounce`d right now).
- `this.parseCode` as it generates an ast and pass everything down to the bricks (even it is wrapped insid

[2018-03-21 18:20] gonzalologorg commented on #4
Anyone knows how to get gyp correctly working on windows? Seems that doing yarn install fails at gyp, and installing visual studio build tools doesn't help that much, after getting project ready, i get a lot of weird exceptions, like:

Type error window.require is undefined, cannot proccess.bind and without being able to do that, it's not possible to actually render something

[2018-03-21 18:22] eveningkid commented on #23
- tab width: 2
- use tabs: false
- semicolons: true
- use single quotes
- trailing comma if possible (in arrays, objects, ...)
- bracket spacing: true

I guess this would follow the syntax I've tried to respect with this project so far. :)

[2018-03-21 18:40] eveningkid commented on #24
Little improvement: it used to update twice in a row as `.state.code` and `.state.cursor` would be updated separately (as it was attached to two different listeners). Now do both at once.

[2018-03-21 19:10] vueu commented on #23
Cool the configuration is good to go. Do you think it would be best to use an approach like [this](https://prettier.io/docs/en/precommit.html)?

[2018-03-21 19:48] eveningkid commented on #23
I think the [option 4](https://prettier.io/docs/en/precommit.html#option-4-precise-commits-https-githubcom-jameshenry-precise-commits) is what we need.

[2018-03-21 19:54] julianorafael commented on #22
Awesome. I'll definitely stay tuned and try to contribute to it. :)

[2018-03-21 19:55] julianorafael commented on #21
Yes. VS Code does that out-of-the-box too.

[2018-03-21 19:59] julianorafael commented on #20
I found an article about that. I'll give it a try. Should the cli be called `reacto`? I feel like this would be good.

[2018-03-22 04:52] eveningkid commented on #24
I found the main issue: the editor code zone is controlled for now. I will make changes that will incredibly boost the editor speed performance. Stay tuned, it'll soon be much better. :)

[2018-03-22 09:38] eveningkid commented on #24
@lachlanjc, I've just pushed a new build for the project. It is supposed to be way faster than before.
Whenever you have time, could you please download the new release and tell me if the performance has improved?

[Download new version](https://github.com/eveningkid/reacto/releases/download/v0.1.0/Reacto-0.1.0-updated.dmg)

I remember you mentioned the first release was kind of laggy on your side

[2018-03-22 12:29] hellonearthis opened #25 "Would it be possible to make this a VSCode plugin?"
This looks cool but would it be possible make this a VSCode plugin?

[2018-03-22 13:26] plxel commented on #25
it is IDE, you want IDE as plugin?
if `reacto` will be done well you can use it instead VSCode, Atom etc.

Single features can be implemented as plugins, but I think not in this repo and not by @eveningkid

[2018-03-22 13:44] eveningkid commented on #25
Thank you @plxel, you summed it up very well. :)

@hellonearthis, [here was my answer to a similar question](https://medium.com/@eveningkid/i-believe-my-intention-was-different-f004930d0c15) on medium.

I hope that when you'll come back in a few months on this repo, that you'll have a different opinion. Fingers crossed!

[2018-03-22 13:44] #25 closed

[2018-03-22 13:50] eveningkid opened #26 "Windows build"
Can anyone give it a try and come up with a zip file we can share with the Windows users? That would be sweet.

cc @plxel @gonzalologorg

[2018-03-22 13:51] plxel commented on #26
i'll do it

[2018-03-22 13:52] eveningkid opened #27 "Linux build"
Similar to #26, for Linux users. ⚡️

cc @Pegase745 @albemala

[2018-03-22 13:52] eveningkid commented on #4
@gonzalologorg I believe that @plxel managed to get it running. I opened a separate issue, this one is getting messy...

@albemala, maybe if you can you could help with the Linux version? Are you in? :)

The two new issues are there: [one for windows](https://github.com/eveningkid/reacto/issues/26), [one for linux](https://github.com/eveningkid/reacto/issues/27).

[2018-03-22 14:11] plxel commented on #26
@eveningkid where should I send zip?
github allows up to 10 MB

[2018-03-22 14:53] eveningkid commented on #26
@plxel maybe post it on google drive and share the link with me! This will be a temporary way for now. :)

[2018-03-22 14:55] plxel commented on #26
@eveningkid  [done](https://drive.google.com/file/d/1xnsIXniaMeBAtcBUfpmPPPoTSguV5NmU/view?usp=sharing)

[2018-03-22 14:57] eveningkid commented on #26
You're fast, thank you! I'll add it to the readme very soon.

Also, two things:
- did you have anything specific to build it? If so, could you share the steps?
- how is the experience on windows so far? Is it slow? Your feedback is useful.

Thanks again. :)

[2018-03-22 15:28] plxel commented on #26
- nothing special, sometime ago (maybe last year) I had problems with node-gyp/node-sass (maybe sometging like @gonzalologorg sees now), but now everything is ok, just `yarn run dist:pack`.
- app booting time leaves much to be desired, animation between editor and project picker is slow and annoying, font-size or font-family in editor looks strange (or maybe I like font settings in vs code), it ca

[2018-03-22 15:45] eveningkid commented on #26
Alright, got it.

- I will sure think of an option to remove the animation, I kind of like it personally. I understand your opinion though.
- font-size and font-family can be changed. Macbook retina screen often makes everything look much better. I guess this must be the reason. If you have any other preference, please share them on an issue and I can manage to set them as defaults for the windows

[2018-03-22 15:50] albemala commented on #27
Here is a build I created for Linux, version 0.1.0 (But from master branch so with all last the last fixes. If you prefer I will build it from tag 0.1.0)

https://drive.google.com/open?id=1VmTgfmg7nWU42lH7fDwK86ogmd6MnOTN

[2018-03-22 15:59] plxel commented on #26
@eveningkid I hope I'll have time to help with all this stuff by myself
about `node_modules` - it is visible in leftsidebar, but when I click on it's just change icon. is what you mean by `hidden`?)

[2018-03-22 16:52] eveningkid commented on #17
Progress for today:
- find Prettier configuration file
- added option "format on save", which works just fine
- now seamless experience when the code is changed (the cursor will remain steady, same for scrollbars)

Todo:
- create configuration file if doesn't exist
- allow to quickly update configuration inside settings (big refactor of `Configurator.jsx` ahead)

![mar-23-2018 00-51-10](https://us

[2018-03-22 17:05] eveningkid commented on #26
I wish that too, really. You're extremely reactive, it makes me really hopeful for this project. :)

Yes, I mean, empty is more appropriate. I plan to really make it hidden. I personally think that `node_modules` shouldn't be modified as it is supposed to be regenerated after every `yarn install` and kept untracked for git. So seeing it in the file tree is useless in my opinion. For now, the file

[2018-03-22 17:12] plxel commented on #26
it is really rare case when i need it
i'm not sure, but this is how it is implemented in vs code (or looks like this) - every folder from .gitignore marked gray in file tree, if i click one - it is loading content of that folder and after that it is in file tree.

[2018-03-24 19:28] lachlanjc commented on #24
@eveningkid Performance is much better in that build! Thank you!

[2018-03-24 19:29] lachlanjc opened #29 "Keyboard shortcuts for switching files"
Would love to switch between files without my mouse. I suggest Atom/Safari/Chrome's implementation, with <kbd>Cmd-#</kbd> going to tabs 1-8, and <kbd>Cmd-9</kbd> going to the last tab.

[2018-03-24 19:31] lachlanjc opened #30 "Reflect editor status in macOS Close button"
In fully-native apps (TextEdit, BBEdit, Pages, etc), the red Close stoplight button on macOS gets a black dot inside if the current file has been modified without saving. No idea how/if you can do this in Electron, but it'd be a nice touch. (Certainly not a priority)

[2018-03-24 19:34] lachlanjc opened #31 "Package Manager: Button to update all dependencies"
A task I do really often in my terminal is `ncu -a && yarn` (or with `npm i`), which updates all dependencies to their latest versions using [`npm-check-updates`](https://www.npmjs.com/package/npm-check-updates). Would be awesome to have a button for this in the Package Manager!

[2018-03-25 02:42] lachlanjc opened #32 "Update prompt for deleting files/folders"
Right now, when you click "Send to Trash" on a file/folder in the Tree, you get a prompt that says it has unsaved changes, like when you close a file while working on it. It should have custom text to confirm a manual deletion.

[2018-03-25 02:48] lachlanjc commented on #32
Could fix this by adding custom options to `closeFileAsync`: https://github.com/eveningkid/reacto/blob/83dd9a280895b63bf93fa3434b56bbd6fc27919d/src/store/models/session.js#L257-L263

[2018-03-25 08:26] eveningkid commented on #29
For now, you can switch files using <kbd>Ctrl+Tab</kbd> and <kbd>Ctrl+Tab+Shift</kbd>. You are right about <kbd>Cmd+*</kbd>. I will work on this. Thanks!

[2018-03-25 08:36] eveningkid commented on #30
It's actually currently implemented.

<img width="304" alt="screenshot at mar 25 16-32-58" src="https://user-images.githubusercontent.com/7188494/37873214-371932d2-304a-11e8-9a3f-391f7c179687.png">

I will work on it, I think your impression comes from the fact it is currently not detecting "unsaved changes" until you take your cursor off the editor. This will be fixed, thanks. :)

[2018-03-25 08:39] eveningkid commented on #31
**Really nice** suggestion. I didn't know about it. Will definitely add an `update all` button. :)

[2018-03-25 08:47] eveningkid commented on #23
@vueu, are you on it? Let me know, otherwise, I'll close the issue.

[2018-03-25 09:13] eveningkid commented on #31
By the way, why do we need to call `yarn` after `ncu -a`? It seems that the [`ncu -u` option](https://www.npmjs.com/package/npm-check-updates) does the `package.json` update directly.

Or was it for a different reason?

[2018-03-25 13:24] eveningkid commented on #17
Added with #33

[2018-03-25 13:24] #17 closed

[2018-03-25 13:25] #15 closed

[2018-03-25 13:26] eveningkid commented on #20
Sure, if you find **any details** about this and don't have time to implement it, share it there.
I can take care of it. :)
Let me know, so we can update this issue and make it available asap.

[2018-03-25 13:27] #24 closed

[2018-03-25 13:28] eveningkid commented on #30
Added with #34

[2018-03-25 13:28] #30 closed

[2018-03-25 13:29] eveningkid commented on #31
Added with #34.
@lachlanjc waiting for your answer! :)

[2018-03-25 13:47] #26 closed

[2018-03-25 15:29] lachlanjc commented on #30
@eveningkid I discovered this after I submitted this, thanks for updating!

[2018-03-25 15:30] lachlanjc commented on #31
@eveningkid -a updates the dependencies list, but then I need to install the updates + update yarn.lock before I commit.

[2018-03-25 16:19] lachlanjc opened #35 "Ability to toggle sidebars"
- I was initially confused with the < button in the upper-left, assuming it would hide the file tree—maybe it should be a 🏠 icon instead
- I want the ability to toggle the sidebars closed.
  - Especially the right sidebar, as it takes up 1/4 of the screen space with nothing on it on a vertical display
  - Having a toggle on the right side of the top of the file tree would be handy too for when you

[2018-03-25 16:36] eveningkid commented on #35
@lachlanjc a few suggestions for the back button:

<img width="209" alt="screenshot at mar 26 00-28-03" src="https://user-images.githubusercontent.com/7188494/37877414-7dff306e-308d-11e8-84b6-acf5b08bff02.png">
<img width="240" alt="screenshot at mar 26 00-34-01" src="https://user-images.githubusercontent.com/7188494/37877415-808587ca-308d-11e8-825b-655c67f557f6.png">
<img width="293" alt="screens

[2018-03-25 16:57] julianorafael commented on #20
yeah, I did found out that you can use the app binary as a cli by calling `/Application/Reacto.app/Contents/MacOS/Reacto` and then handling the arguments on the `main.js` as explained here: https://discuss.atom.io/t/bundle-a-cli-app-inside-the-electron-app/40113/2
I'll be putting some time on this approach today.

[2018-03-25 17:09] julianorafael commented on #20
https://github.com/atom/atom/blob/master/src/main-process/parse-command-line.js
atom deals with this using `yargs`

[2018-03-25 17:47] eveningkid commented on #35
- I changed the "back" icon to a simple text (third screenshot from the previous post) d0d1235432300da38b3b843cbaad6f31eeccbae2 This can still be changed if you give your opinion, otherwise, we'll keep it this way.
- Can now toggle both file tree and brick selector using <kbd>Ctrl+Cmd+Left</kbd> and <kbd>+Right</kbd> bb8cf6a61c05052afd6b1225a2ef32f585e6768e Shortcuts could change if it's not handy

[2018-03-25 17:49] eveningkid commented on #31
Fixed in 594e5e339edad2fcccaebf0a1e0118b753b14596

[2018-03-25 17:49] #31 closed

[2018-03-25 17:53] eveningkid commented on #20
Really interesting approach. What are your thoughts on such a CLI helper for Reacto?

[2018-03-25 18:36] julianorafael commented on #20
I'm not really sure it is needed if we are doing only one thing without any options. But if we want this to a be a more complete solution and have more options, `yargs` is indeed a nice solution. Short story: we might not need now, but we'll surely need it later.

[2018-03-25 18:49] julianorafael commented on #20
Correction, right now it'd already be useful by parsing the options and showing the version when we type `reacto -v`.

[2018-03-25 19:03] julianorafael commented on #20
The only problem with this approach is that I don't really know how to test this in development. Do you have any ideas on how to test this without making a package?

[2018-03-25 20:12] lachlanjc commented on #35
Awesome @eveningkid. Excuse my ignorance, can I download a packaged release or do I need to set up the full codebase in order to try it out?

[2018-03-26 01:06] breisfeld opened #36 "Download link broken"
Currently, the [download link](https://github.com/eveningkid/reacto/releases/download/v0.1.0/Reacto-0.1.0-updated.dmg) is broken.

[2018-03-26 01:37] eveningkid commented on #35
I think the quickest way for you, as you contribute a lot, is to clone the repo and build it somewhere. Any time there is an update you simply need to `git pull` and then call `yarn run electron:dev`. So you can keep your release in your applications folder but at the same time try experimental features this way. :)

[Steps to follow](https://github.com/eveningkid/reacto#contribute) (without needi

[2018-03-26 01:59] eveningkid commented on #36
It should be working now. Let me know if it's fine on your side as well. :)
I also used the opportunity to update the release with the latest updates.
Sorry for the inconvenience.

[2018-03-26 04:39] lachlanjc opened #38 "Fuzzy file search"
This one will probably be a bunch of work, but it's a real slow-down of using Reacto right now. This is one of the final things before I can switch for my main editor :)

[2018-03-26 04:43] lachlanjc opened #39 "Performance problems while upgrading all dependencies"
Reacto dramatically slows down while upgrading all dependencies, but it speeds back up as soon as it's finished.

[2018-03-26 04:47] lachlanjc opened #40 "Add setting to hide .git directory"

[2018-03-26 04:50] lachlanjc opened #42 "Package Manager: Add button for installing dependencies"
(Especially useful after the upgrade all button.)

[2018-03-26 05:09] lachlanjc opened #43 "Error when closing editor"
I'm getting this error when I close a Reacto project window:
<img width="532" alt="screen shot 2018-03-26 at 1 08 26 am" src="https://user-images.githubusercontent.com/5074763/37887868-41a336ce-3092-11e8-956b-52794cb3bfe5.png">

[2018-03-26 05:09] lachlanjc commented on #35
@eveningkid Got it set up, thank you! And these changes are looking really solid.

[2018-03-26 09:17] #35 closed

[2018-03-26 09:52] eveningkid commented on #38
Please be more precise about what's wrong, what's right, what's missing. Thank you :)
This can definitely be improved, I'm really open to new suggestions!

[2018-03-26 09:54] eveningkid commented on #43
Reacto project window = software window? Or did I misunderstand?
If you do try to reproduce the problem, does the alert appear again? I would need more information, please.
It also seems that this occurs in the development version, right?

[2018-03-26 09:59] eveningkid commented on #42
I think this is not a good idea for two reasons:
- the package manager isn't meant to be something messy. It shouldn't have too many buttons (it already has two)
- every time you add/remove a package, there is no need to call `yarn install` again, it deals with it automatically

[2018-03-26 10:00] eveningkid commented on #40
I believe we should instead add an option to hide any file/directory starting with a dot.
Otherwise, show it with a higher opacity if the setting is disabled.
What do you think?

[2018-03-26 10:03] eveningkid commented on #39
I observed similar side effects and I sadly have no idea why... I would wish someone could help me on this because I've checked it already but can't seem to find any way to solve this.

It feels like running any command (by spawning child processes with `utils.exec`) can quickly slowing down everything while it's running. Help would be extremely appreciated on this: how is atom dealing with this f

[2018-03-26 10:51] #42 closed

[2018-03-26 14:56] vueu commented on #23
Yeah I just have an issue at the moment, when you put in a commit, the code gets formatted but it's too late, when you push to GitHub it doesn't contain the formatted code, until you push again.

[2018-03-27 08:53] Pegase745 commented on #40
The idea would be more to hide all files/directories in a .gitignore also

[2018-03-27 18:13] #36 closed

[2018-03-27 18:14] eveningkid commented on #23
Are you still willing to try to debug this? If it doesn't work, don't worry then..

[2018-03-27 18:18] eveningkid commented on #20
If we only get the current version of Reacto, I don't think that a CLI is currently needed.
I guess you'll need to create a package even for testing. Simply set the `bin` attribute to where it should call the CLI from (quickly look this up this online, `bin` property of `package.json`). Your CLI will be just a node script I guess, right?

[2018-03-27 18:19] eveningkid commented on #40
We'll then have two options: one to hide `.gitignore` files and another for any file starting with a dot.
I'll keep you updated as soon as it's implemented! :)

[2018-03-27 18:21] eveningkid commented on #39
This issue has been fixed. Reacto is now using `yarn update --latest` instead. Way faster.
Also, the new update increased the performance for running commands in the background.
That means it all goes faster, without impacting too much the UI (if almost not at all). You can try it, it's been pushed. :)

[2018-03-27 18:21] #39 closed

[2018-03-27 18:29] julianorafael commented on #20
Ok, I agree that we do not need many options for now. The cli effectively is the own binary. We gotta handle the call from cli by parsing `process.argv` on `main.js` and checking if there's more arguments on it. If there is, than we check if the argument is a directory (I guess we should also open single files...) and then load the directory through the `filetree` function.
Is it only my machine t

[2018-03-28 07:12] eveningkid commented on #27
@albemala how did you actually create a build for Linux?

I hope we could find a way to automate it with a script, such as calling: `yarn run dist:linux`.
Anything different inside `package.json`?

That would help, thanks! :)

[2018-03-28 07:14] Pegase745 commented on #27
@eveningkid I'm on it. I've got a fork ready to build all the things :)

[2018-03-28 08:02] albemala commented on #27
The only thing I changed is in the PR I created, linked to this ticket.
Otherwise I just run `yarn dist:pack`

On Wed 28 Mar 2018, 08:14 Michel Nemnom, <notifications@github.com> wrote:

[2018-03-28 15:38] vueu commented on #23
Gonna abandon this for now.

[2018-03-28 15:38] #23 closed

[2018-03-28 15:39] #27 closed

[2018-03-28 16:20] eveningkid commented on #29
Added with #47 :)

[2018-03-28 16:20] #29 closed

[2018-03-28 16:22] eveningkid commented on #32
I don't really understand what you're asking for, could you please explain it again?

[2018-03-28 16:24] eveningkid commented on #43
As it didn't get more feedback, I guess this wasn't a major issue.
Please reopen the issue if you have more details about it. Thanks!

[2018-03-28 16:24] #43 closed

[2018-03-28 16:53] eveningkid commented on #20
I think your approach is correct and could work. I just have no idea how to actually do all the communication between a running reacto instance and what we get from the command line.

If you feel like spending time on this, please do some experiments and share your results here. I think that at this point, this is the only way to actually get answers. Maybe it won't work, maybe it will, haha.

And

[2018-03-28 18:16] simonhochrein commented on #20
This might be helpful, https://github.com/atom/atom/blob/d15e65a2c0101df280a60c9d99c03ff8153fffca/script/lib/install-application.js

[2018-03-28 20:47] lachlanjc commented on #32
Of course! Sorry to be unclear.

When you close a file with unsaved changes, you get a prompt asking if you want to save it or not. This works great.

When you right-click a file in the Tree and click Send to Trash, you get a dialog confirming that you want to delete it. This shows the same dialog as closing an unsaved file, so I'm requesting that it have different text to be clearer to the user w

[2018-03-28 20:48] lachlanjc commented on #29
Yay!! Thanks @eveningkid :)

[2018-03-29 01:12] eveningkid commented on #32
I understand now. I think it would be great to either send it to trash directly if desired or "safely" delete it with a prompt. I'll work on it, thanks for clarifying. :)

[2018-03-29 13:20] julianorafael opened #48 "Remove componentWillMount, componentWillReceiveProps and componentWillUpdate usage throughout codebase."
These methods are considered unsafe and bad practices and they'll eventually be deprecated and deleted. More info here: https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html.

[2018-03-29 13:28] julianorafael commented on #20
Ok. Did some progress here. Now I'm parsing the command line and getting the desired path to open. The quest is to make it open the project. I believe I should send a message with `ipcMain` to the render process to trigger the `switchProject` action with the directory path. Does that makes sense? Where should this logic live on the application? Should I add a listener on the open project component

[2018-03-29 16:27] eveningkid commented on #48
Thanks for sharing, loved the article. It's actually interesting and will help for future projects!
I've counted about 20 components that will need to be updated, shouldn't take too long. I think it can be done later on, as long as we keep this in mind for any future component. There's still some time. :)

[2018-03-29 16:36] eveningkid commented on #20
Somewhere inside [`public/main.js`](https://github.com/eveningkid/reacto/blob/master/public/main.js), when something is caught from the command line, simply call `mainWindow.webContents.send('switch-project', cwd)`.

Then, inside `src/editor/events`, create a file called `switch-project.js`, which simply dispatches the `switchProject` action (you can check other files in that folder, you'll quickl

[2018-03-29 18:47] eveningkid commented on #38
@lachlanjc could you please explain more? I'd really want to work on it to make the experience better for you.

[2018-03-30 01:18] lachlanjc commented on #38
Hey, sorry I forgot to come back to this. Need Mark as Unread on GitHub.

Basically, a way to open files faster without using the Tree—just start typing (part of) the path to a file, and the editor pulls up a keyboard-navigable list of files that best match that (like `form` finds `src/components/feedback/FeedbackForm.js` or something).

Here's how Atom does it: (<kbd>Cmd-P</kbd>, also used by Xco

[2018-03-30 01:30] lachlanjc opened #50 "Battery usage"
I know this is significantly Electron's fault, but Reacto uses dramatically more power than other editors. It's likely pretty difficult to optimize and test, but I want to bring it up as a longer-term thing.

I pulled up (production build, not dev) Reacto + BBEdit next to each other, on the same project with the same file, in macOS Split View, running on my 2013 MacBook Pro with Retina Display 13"

[2018-03-30 03:13] eveningkid commented on #38
And <kbd>Cmd+F</kbd> on Reacto!

<img width="604" alt="screenshot at mar 30 11-09-43" src="https://user-images.githubusercontent.com/7188494/38122960-140fc19c-340b-11e8-9468-b5ead71e2a7c.png">

[2018-03-30 04:08] eveningkid commented on #50
I will look into it as soon as possible. Totally agree with you. I'm still trying to stay organized and not do anything at the same time.

It should be better anytime soon, thanks for the precise report @lachlanjc! I'll update you as soon as there's progress made. :)

[2018-03-30 13:15] lachlanjc commented on #50
@eveningkid Fantastic. Just wanted to bring this to your attention. I think the most important fixes are for when Reacto is in the background/minimized, but there are certainly savings to be made in the active editor as well. Thanks so much for being so responsive and working so hard on this project!

[2018-03-30 15:36] eveningkid commented on #38
Is that what you were looking for? :)

[2018-03-31 05:41] lachlanjc commented on #38
Is that searching inside files? What I'm talking about just filtering file paths for faster opening/switching.

[2018-03-31 06:30] eveningkid commented on #38
It is only checking file paths. It will look up for files inside your file tree...

[2018-03-31 12:55] #38 closed

[2018-03-31 15:12] eveningkid opened #56 "Auto-updater issue"
The auto-updater appears to be broken and called at startup (even to say everything's up-to-date, which isn't necessary to know.

![unknown](https://user-images.githubusercontent.com/7188494/38164539-dcbfdc70-3538-11e8-9048-807f7d9c176a.png)

cc @Pegase745

[2018-03-31 18:01] eveningkid commented on #56
e885c00733e0538aa23ea34699dea3ebc5147d84

[2018-03-31 18:01] #56 closed

[2018-04-01 14:13] julianorafael commented on #20
Ok, I made it. It's opening a directory as project from the command line. Now I need to add a menu command to add reacto bin to PATH.
I can't test this on other OS (windows and linux). It might require some adjustments.

[2018-04-01 14:38] eveningkid commented on #20
Amazing @julianorafael, please let us know when it's ready!!

[2018-04-03 17:44] eveningkid commented on #21
Added with #59 :)

[2018-04-03 17:44] #21 closed

[2018-04-03 17:48] julianorafael commented on #20
I solved this by creating a symlink from the binary to `/usr/local/bin` on mac os. I added menu options to add and to delete this symlink and it only shows on `darwin` platforms for now. The only problem remainig is that the app remains attached to the console. I need to detach it, but I'm not sure how to do it yet.

[2018-04-06 07:31] eveningkid commented on #20
@julianorafael could you please share your code so far so that could be easier to understand your issue at the moment?

[2018-04-06 09:00] eveningkid commented on #19
<img width="146" alt="screenshot at apr 06 16-59-50" src="https://user-images.githubusercontent.com/7188494/38412425-f173e774-39bb-11e8-9498-560becf14513.png">

I'm on it!

[2018-04-06 10:24] eveningkid commented on #19
By the way, [the latest release is available](https://github.com/eveningkid/reacto/releases/tag/v0.2.6).
It is recommended to uninstall the application and reinstall it again.

[2018-04-06 12:05] julianorafael commented on #20
Ok. I opened up a PR with the code. It appears that there has been some major changes on `main.js` and my code will need some changes. I couldn't find a way to do what I did on the `ready` event of the app with the `sweet-electron`. Also, as I said before, it opens from the terminal, but does not detach from it, which is quite annoying.

[2018-04-06 14:04] lachlanjc commented on #19
Thank you!!

[2018-04-06 15:12] eveningkid opened #63 "Remember opened file state (cursor, selection, code, ...)"
At the moment, only the code is being saved. If we open another file and then come back to the previous one, cursor position, scrolling, ... won't be set again.

[2018-04-06 16:00] eveningkid commented on #20
Thank you. I will add a `.ready((is, mainWindow) => ...)` method to `sweet-electron` tomorrow.
I guess it will be enough to adapt code from `main.js`. If not, please let me know and I'll add it as well. :)

For the menu, it should also be quite easy to fix the conflict, same for `events.js`.
Oh also, for the menu, I will add an instance of `electron-is` as `.menu(...)` first parameter so you'll be

[2018-04-06 18:34] julianorafael commented on #20
Your welcome sir, pleasure is mine. I'm a bit short on time, but I'm doing whatever I can. I'll find a way to deal with it and I'll refactor the code as soon as the method is available. The refactor is quite simple. The only thing is the ready event.
Thank you for the help and the attention, this is one of my first contributions with actual code to OSS projects. :)

[2018-04-07 08:55] eveningkid commented on #20
Alright, I've just added the `.ready` method on `sweet()` instance! [You'll find an example here](https://github.com/eveningkid/sweet-electron/blob/master/examples/example.js#L7), but it is exactly as what I've explained in my previous message. :) (it should be fine, but if it's not, please let me know)

[code]

I am extremely glad that this is your first contribution to an open-source project!

K

[2018-04-08 20:18] plxel opened #65 "Unhandled Rejection (TypeError): Cannot read property 'isInstalled' of null"
Hello! [Here](https://github.com/eveningkid/reacto/blob/449079410c144f032d4b24c3c29c415ef881951f/src/components/_containers/EditorWrapper.js#L36) we have `await yarnPackageManager.isAvailable()` and [here](https://github.com/eveningkid/reacto/blob/master/src/components/RecipesPicker/RecipesPicker.jsx#L24) we call `checkAlreadyInstalledRecipes` after 10 seconds timeout which call another function,

[2018-04-09 16:00] eveningkid commented on #65
Thanks a lot for the input @plxel! You are right, it was a really bad idea to use `setTimeout` here.
I suggested a fix with #66, please `git pull` and let me know if you still run into any similar issues. :)
Thank you!

[2018-04-10 12:39] 3dos opened #67 "Changing font ability"
Is there a way to change the IDE font ? If not, it could be an enhancement to have, let's say, the glorious Operator Mono font!

[2018-04-10 15:19] eveningkid commented on #67
There is no way to change the font at the moment. It's sure possible to make this happen though. :)
However, it seems that the Operator Mono font isn't free, isn't it?
If you have any other font idea, suggestions are very welcome!
Please let me know so I can add this to the editor, thank you!

[2018-04-10 15:35] 3dos commented on #67
Indeed not free but having the ability to use it for users who bought it could be a nice touch.

I found a version of this font on [github](https://github.com/piq9117/operator-mono-nerdfont) but I must admit I don't know if it is legit as it looks pretty much the same as the original Operator Mono.

Thank you for creating this IDE or might I say, idea :D

[2018-04-10 15:39] Wragdan opened #68 "Make task runner menu scrollable"
When you have a lot of scripts in package.json, the whole app scrolls.

![image](https://user-images.githubusercontent.com/17775924/38567285-ffcf0ddc-3ca2-11e8-8525-41fc7fff7dc9.png)

[2018-04-10 16:17] eveningkid commented on #68
Thank you very much for the input, this should definitely be fixed tomorrow.
I would have never thought there could be so many scripts inside a package.json! Do you think it would be useful to have a search input for available scripts?

[2018-04-11 02:03] joshuaquek commented on #43
Latest release working well! Thanks @eveningkid !!

[2018-04-11 08:43] indiakamlesh opened #69 "Window version not working"
To my delight, today I found that we have now option to install on Windows. Thanks you @eveningkid .

I am facing issue where I am not able to do anything like creating new files. Only black screen coming. I am providing the screenshot how it is looking after installation.

Thanks again for making this and then for window setup. I know it will be resolved soon.
![capture](https://user-images.githu

[2018-04-11 12:56] eveningkid commented on #67
Could you share a quick workflow for that? Like you select any local font and apply it to the editor? Or use a URL?

I like the idea but I hope we could have a more precise user experience here to make this simple for anyone. Something similar to [this Atom package](https://atom.io/packages/fonts) maybe?

As a quick setting inside the preferences menu?

[2018-04-11 13:03] 3dos commented on #67
I had in mind a quick setting inside the preferences menu. Since you reference Atom here, I think the support for alternative fonts in Atom is native and works like this :

a text input is there in the settings and you can enter any font name you have installed on your OS. If font cannot be found, simply fallback to the default one.

Does this look viable ?

I would gladly throw myself into resolv

[2018-04-11 13:31] eveningkid commented on #67
You're right, let's do this. I'll work on it tonight. Keep you updated. :)

[2018-04-11 14:08] eveningkid commented on #67
It should be working now. You simply need to open preferences, type your font name and open another file. The new font should show up.

If you encounter any issue, please let me know. The feature is only available for now if you run the development version and `git pull`.

Otherwise, it'll be available in the next release. :)

[2018-04-11 14:11] 3dos commented on #67
Wow, that was fast! I'll try this as soon as I can.

[2018-04-11 14:17] eveningkid commented on #69
Thank you for your kind words. You should also thank @Pegase745, @plxel, and @albemala who mostly contributed to making Reacto available on all platforms. :)

I sadly have no way to test it on Windows. Two leads to work on this:
- open the development tools console (View, Toggle Developer Tools) and share a screenshot of what you see
- inside the developer tools, open the `Application` tab and let

[2018-04-11 14:46] 3dos commented on #67
I'm not familiar at all with electron (I never had the chance to try it) but when I hit `yarn start` everything looks to compile just fine (with some warnings) but no window shows up. Am I missing something ?

[code]

[2018-04-11 16:00] eveningkid commented on #67
Yes, open a new tab and run: `yarn run electron`, and it should be all fine (keep `yarn start` on the other hand)

[2018-04-11 16:05] 3dos commented on #67
It works like a charm (the dev env and the font update)

Now, some italic in the code syntax would be perfect. I'll open a new issue for this though :)

Thanks again for your availability!

[2018-04-11 16:11] eveningkid commented on #67
Perfect, you're very welcome. :)

[2018-04-11 16:11] #67 closed

[2018-04-11 18:10] eveningkid commented on #68
I fixed it with #72. :)

[2018-04-11 18:10] #68 closed

[2018-04-12 06:44] eveningkid commented on #65
If you run into the same issue again, please reopen the issue. I consider it as fixed for now.

[2018-04-12 06:44] #65 closed

[2018-04-12 09:15] Dinodanio commented on #40
There are also ci files and environment files with a pre-dot. Files in .gitignore would be great. I think these files are used less then other and cleans the files-structure.

[2018-04-12 10:29] eveningkid commented on #40
When I started working on the issue, I realized that this could be part of the git integration inside Reacto. This is the next task I'm working on at the moment. :)

It will soon be added, along with the git integration.

[2018-04-12 14:25] julianorafael commented on #20
![code](https://user-images.githubusercontent.com/1124448/38683557-240ab276-3e44-11e8-9798-2d4307d2da62.png)

[2018-04-12 14:25] julianorafael commented on #20
I'm on version 1.0.7 of the sweet-electron

[2018-04-12 14:58] julianorafael commented on #20
The function is there. But I guess that's not really the problem. I believe I need to create the window on this method, right? How do I access window configuration on the ready function to be able do that?

[2018-04-12 15:02] julianorafael commented on #20
Nope, sweet-electron already takes care of that.

[2018-04-12 15:04] julianorafael commented on #20
![image](https://user-images.githubusercontent.com/1124448/38685953-92173a14-3e49-11e8-8547-44c56c1459ff.png)
This is what I get when I try to open in development mode.

[2018-04-13 11:57] Wragdan commented on #68
More than a search option, a filter, like typing "sta" will show only those scripts that start with "sta" ...

[2018-04-13 13:12] eveningkid commented on #68
<img width="297" alt="screenshot at apr 13 21-11-54" src="https://user-images.githubusercontent.com/7188494/38736641-507c689c-3f5f-11e8-985f-f7f8fa78a03f.png">

[2018-04-13 20:33] Pegase745 commented on #69
@indiakamlesh works for me on Windows 10

[2018-04-14 20:16] plxel commented on #69
so..
I got this behavior if I run `yarn start`, and without waiting for dev server start run `yarn run electron`
Reacto is started, but nothing is working

[2018-04-15 14:26] eveningkid commented on #40
I integrated details display for a current working project using git. A screenshot can be seen on #73.
For now, files being ignored are still being shown but a little gray left border will be shown.

**Should it be an option to simply not show them inside the file tree?** Thanks for letting me know. :)

[2018-04-15 14:32] eveningkid opened #74 "Editor Syntax Highlighter Theme"
For now, Reacto's syntax highlighter theme is a very common one.

I thought it could be cool, just as monokai+sublimetext combination for its first release, to have a theme designed for reacto.

This is just an idea. If anyone has any thoughts about it, please discuss it here.
Otherwise, we can stick to the current one.

...it would still be awesome to have our own theme. :)

*Interactive simple t

[2018-04-16 11:09] #69 closed

[2018-04-16 11:12] eveningkid commented on #69
I'll generate new releases with the updated version.

@indiakamlesh, please uninstall Reacto and [download the latest release](https://github.com/eveningkid/reacto/releases) (it should be available from one hour after I post this message).

Feel free to reopen the issue if that patch doesn't fix your problem!

[2018-04-19 14:32] eveningkid commented on #50
Alright, sorry it's been a while.

Good news though:
<img width="440" alt="screenshot at apr 19 22-26-49" src="https://user-images.githubusercontent.com/7188494/38997872-03416ca0-4421-11e8-8199-35b2b66ff422.png">

I found what was the major problem causing Reacto to use way too much CPU compared to others! It was simply the file watcher that was using polling although it shouldn't.

I will soon re

[2018-04-19 14:32] #50 closed

[2018-04-19 16:11] lachlanjc commented on #50
Fabulous! Your sustained work on everything is truly impressive. Thank you 😊

[2018-04-20 09:04] eveningkid commented on #40
Added with #77!

[2018-04-20 09:04] #40 closed

[2018-04-26 07:49] lgarest opened #78 "Error: Cannot find module '../build/Debug/nodegit.node' after installation"
Hey I was curious about your Reacto project and gave it a try.

I cloned your repo and followed your installation steps, after `yarn install` everything was looking fine but once I run `yarn run electron:dev` I get the `Error: Cannot find module '../build/Debug/nodegit.node'` error. This happens as well for me if I run the project separately as you recommand.

I'm running a macOS High Sierra v10.1

[2018-04-26 09:40] eveningkid commented on #78
Hi Luis and thanks for sharing!
This issue seems to come from your environment.

You can try to rebuild the package using the following:
[code]

[2018-04-30 18:54] FDiskas opened #79 "Reacto 0.2.12 - Fatal"
Intel® Core™ i5-4210M CPU @ 2.60GHz × 4
Zorin OS 12.3 64-bit (Ubuntu based)
https://github.com/eveningkid/reacto/releases/download/v0.2.12/Reacto_0.2.12_amd64.deb
After instalation
[code]
![error](https://i.imgur.com/nbAxNXH.png)

[2018-05-01 16:00] eveningkid commented on #78
@lgarest could you tell me if that worked for you?

[2018-05-02 11:00] #74 closed

[2018-05-02 11:04] eveningkid commented on #79
Hey @FDiskas! Feels like using `node-git` raised some issues for some users (#78).
I don't really have time to investigate this more at the moment, sorry. I remember that Atom is using the same library and ran into similar issues when they added it.
If you have time and will, you can also give it a look. Otherwise, this will come sooner or later!

[2018-05-02 13:48] eveningkid commented on #78
Yes, sure. Could you tell me what worked out for you? :)
I will update the readme file accordingly unless you want to contribute.
Let me know!

[2018-05-03 05:59] eveningkid commented on #78
Alright, I referenced this issue in the readme file. Thank you Luis :)

[2018-05-03 05:59] #78 closed

[2018-05-08 12:25] ph98 opened #80 "not load in linux"
![image](https://user-images.githubusercontent.com/6303786/39756861-48b7245a-52e0-11e8-82f1-31da4dae5647.png)

when i try to open the app this is what i'm facing with.
and everything not working (new file , add component , etc)
also this is what what error i get in terminal :

`Gtk-Message: 16:52:49.209: Failed to load module "canberra-gtk-module"
`

I use ubuntu 18.04 (64bit)
hope i can use this

[2018-05-08 12:28] #80 closed

[2018-05-08 12:29] ph98 commented on #79
same here ubuntu 18.04(64bit)

[2018-05-11 10:19] navneetccna opened #81 "Error in creating new file"
Error: ENOENT: no such file or directory, open '/opt/Reacto/resources/app-update.yml'
    at /opt/Reacto/resources/app.asar/node_modules/electron-updater/src/AppUpdater.ts:380:27
    at Generator.next (<anonymous>)
From previous event:
    at AppImageUpdater.loadUpdateConfig (/opt/Reacto/resources/app.asar/node_modules/electron-updater/out/AppUpdater.js:404:11)
    at Lazy.AppUpdater.configOnDisk.

[2018-05-12 13:47] safwanolaimat opened #82 "Can't open or create new file"
when i call
reacto in terminal its just opened
can't open or create anything

[2018-05-14 16:59] FDiskas commented on #79
is it true that `sudo apt-get install clang` before release could fix that? https://github.com/eveningkid/reacto/issues/78#issuecomment-386016168

[2018-05-15 13:25] eveningkid commented on #82
Hi @husafwan,

Could you give me more information about how to reproduce the issue, please?
I'm from a macOS environment so only a more detailed issue could guide me towards an answer for you.

Let me know. :)

[2018-05-15 13:29] eveningkid commented on #79
Thank you very much for your input @FDiskas. I'm sorry, I have no ubuntu running on my computer right now.

If you want to help with the issue, it's actually pretty quick to test.
After cloning the github repo and installing everything, you can run the command you mentioned and only then try to generate a release using the `yarn run release` command.
Then, you just need to run the generated execut

[2018-05-15 16:17] FDiskas commented on #79
@eveningkid Confirmed: After installed
[code]
and `yarn run release`
I got [error](https://github.com/electron-userland/electron-builder/issues/1693#issuecomment-380408619)
I generated [new token](https://github.com/settings/tokens/new)

 and
[code]
 I got working build. Probably this command should be added in to release pipeline for debian.

Here is the [builded version](https://yadi.sk/d/FyZQXb

[2018-05-15 17:02] FDiskas opened #83 "Flow type bool"
Component properties with type "bool" is wrong - should be "boolean"

[2018-05-16 02:08] eveningkid commented on #83
Reacto isn't using flow for prop type checking but `prop-types` only.
Using `prop-types`, we use bool and not boolean.

[2018-05-16 02:08] #83 closed

[2018-05-16 03:19] eveningkid commented on #79
Do you have any idea how to add this to the release pipeline?
I don't really know where to put it inside the travis configuration.

[2018-05-16 07:25] Mista-T opened #85 "Create new one not working on Win7"
Hi, thanks for a great tool!

Unfortunately the "Create a new one" option does not seem to do anything on (my) Windows 7 Pro machine. (I haven't tested your app on any other machine yet)
It installed correctly and starts up fine, but then stalls at the "We'll notify you when your new React app is ready" prompt and nothing ever happens...

Thanks for looking into this!

[2018-05-16 08:47] FDiskas commented on #79
I would try here
https://github.com/eveningkid/reacto/blob/f69c5dc2e15bd6a706e23034d51738c99e221cc8/.travis.yml#L53
to ad extra command :/

[2018-05-16 15:37] julianorafael commented on #20
I can make a push to finish it :)

Don't worry about the delay, I really understand it. I'll make this push in the next few days, probably on the weekend.

I'll post it here if I find any issues along the way.

[2018-05-18 11:11] husafwan commented on #82
can you give me instruction to install it in right way ?

[2018-05-18 11:46] eveningkid commented on #82
Please give me more information about everything: what have you tried so far, what OS are you on...
I can't help you if I don't have any precise explanation.

[2018-05-18 11:48] husafwan commented on #82
.AppImage working with me but .deb not working with me
there is no more information tell what you want to know ?

[2018-05-18 11:55] eveningkid commented on #85
Hi,

You can try opening the developer tools (just like when using chrome).
I guess that on Windows it should be <kbd>Ctrl</kbd>+<kbd>Alt</kbd>+<kbd>I</kbd>.
Let me know if any error shows up there and then we can keep debugging from that.

Also, thank you for your kind words. Hope we can work that out. :)

[2018-05-18 11:57] eveningkid commented on #20
Thank you, thank you. Thank you for your time!

[2018-05-18 18:15] jerryturcios08 opened #86 "Create a way to add a new folder"
Hello! I have been testing this application with a newly created React project. One thing I've noticed is that one can create a new file by specifying the name of the file along with the absolute path. However, there is no option from what I've seen to create a new folder for a React project. The only way to create a new folder is by doing it through finder (I am using a Mac). It would be useful i

[2018-05-20 17:18] eveningkid commented on #86
Hi Jerry!
This is a very good suggestion. How come I didn't think of that use case...!
Thank you very much for the input, I'll let you know when it's ready. :)
Have a nice week.

[2018-05-21 16:48] eveningkid commented on #86
Now added with #87! Thank you for your help.
Feel free to share any other idea you have! :)

[2018-05-21 16:48] #86 closed

[2018-05-22 14:38] #81 closed

[2018-05-22 14:40] eveningkid commented on #82
Could you try to open the developer tools and see if there is any error message?
It's usually <kbd>Ctrl+Alt+I</kbd>.

[2018-06-14 00:48] julianorafael commented on #20
Status update: I'm working on it. Should submit in a couple of days.

[2018-07-19 16:13] manuelcaeiro opened #89 "There's no installer for 32 bits machines, is there?"
Reacto seems exactly what I've been looking for (I don't like VS Code and Geany does not seem to have a react plugin) but... I couldn't find an installer for 32 bits machines.
I'm working on old Asus machines, one with Windows 7 and other with Debian 9 - both x86.
:(
Would you consider making a x86 portable for Windows?
Thanks.

[2018-07-20 10:32] #82 closed

[2018-07-20 10:32] #85 closed

[2018-07-20 16:41] eveningkid commented on #89
Hi Manuel!

I remember that TravisCI had some trouble generating all the executables (or maybe it wasn't configured well).

What you can do is to `git clone` this repository, then install the project dependencies with `yarn install`.

I believe that if you run `yarn run pack` it should generate an executable for your platform.

Please let me know if that works. :)

[2018-07-25 17:15] manuelcaeiro commented on #89
That's a lot of man power :) and a lot of time for someone who has never done that before.
Meanwhile I got Geany to do what I needed. (I don't really use react, it was just an assignment for a course.)
Thanks anyway. Wish you success.

[2018-07-30 10:39] #89 closed

[2018-07-30 10:58] eveningkid commented on #89
Perfect, what matters is that you get the right tools to create.

Thank you so much for your kind words!

Have a nice day Manuel :)

[2019-01-31 19:51] DanielRuf opened #90 "Failing CI"
https://travis-ci.org/eveningkid/reacto/builds/382200247

[2019-05-01 09:31] M1ck0 opened #91 "Issue with CSS autocomplete"
When I type React code I get dropdown box under line with suggestions and when I select it it does what it should. But when things are suggested in CSS it is not the case. When I select suggestion with Left Mouse Button nothing happens. When I press enter it just sends me to new line. I tried other buttons but no luck. Is this an issue or there is something I am missing?

[2019-05-01 14:41] eveningkid commented on #91
Hello,

First of all, thank you. I actually didn't think that someone would use Reacto as of today.

To be honest, I feel that this project was more of a proof of concept. I sadly don't have enough free time to work alone on such a huge project, while on the other hand big players are working daily on their projects.

I am sorry you ran into this issue and I think that I should point it out in the

[2019-05-01 14:43] eveningkid commented on #90
Hello,

Sorry for the delay, and thanks a lot for the heads-up Daniel.

However, I should mention somewhere that Reacto is not being maintained. It is a lot of work for one person and this was the reason I could not keep working on it.

I will make this much clearer in the readme. Sorry again for the confusion!

Have a good day :)

[2019-05-01 14:56] M1ck0 commented on #91
Hi,

Thank you for getting back to me. I was looking for good IDE or Text Editor
to work with React and Front End in general. And I really love what you
made. I am using it now for React. It is simple, fast and beautiful. But to
be honest I was a bit sad when I saw that last commit was 11 months ago.

Anyway. Thanks again for reaching me out.

PS: I like your projects on git. Especially Reacto and

[2019-05-01 15:54] #91 closed

[2019-05-04 14:00] #90 closed

[2020-07-19 19:17] dilipkumar0709 commented on #9
![WhatsApp Image 2020-07-20 at 12 46 54 AM](https://user-images.githubusercontent.com/54902573/87883096-89ee0e00-ca22-11ea-96f4-7fef6ce5295a.jpeg)
.please help me